<div ng-include="'partials/navbar.html'"></div>

<style type="text/css">
	.map-canvas { height: 400px; }
</style>

<div ng-controller="PerdidasCtrl" class="row">
	<div class="col-sm-12">
		<h1>Titutlo</h1>
	</div>
	<div class="col-sm-12">
		<div  ui-map="myMap"ui-options="mapOptions" class="map-canvas" 
        ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
  ></div>
		<section id="map">
			<div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
		</section>
	</div>
</div>